{% load bootstrap4 %}
{% load static %}
<!-- Navigation -->
<head>
    <style>
        body {
  background: url('https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
    </style>
</head>
  
  <!-- Page Content-Grupos de cards -->

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/15/32/code-1839877__340.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Completo e leve</h5>
        <p class="card-text">Nossa empresa desenvolveu um sistema integrado com ferramentas completas e leves.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://media.istockphoto.com/id/1394199344/pt/foto/document-management-system-or-dms-automation-software-to-archiving-and-efficiently-manage-and.jpg?b=1&s=170667a&w=0&k=20&c=Soz6w7lvbhYBwdPe4WfPCnP7qYGHsuV0lpwafLTfaFc=" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Estrutura</h5>
        <p class="card-text">Nosso banco de dados foi desenvolvido para ser seguro, robusto e amarzenado na nuvem.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720__340.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Suporte</h5>
        <p class="card-text">Nossa empresa oferece um suporte personalizado e completo.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
  </div>
{% bootstrap_css %}