{% extends 'index.html'%}
{% load static %}
{% load bootstrap4 %}

{% block h1 %}
{% if docente %}
Cadastrar Docente
{% elif discente %}
Cadastrar discente
{% elif disciplina %}
Cadastrar Disciplina
{% elif discente %}
Cadastrar Aluno
{% elif turmas %}
Cadastrar Turma
{% endif %}
{% endblock %}

{% block li %}
{% if docente %}
Cadastrar Docente
{% elif discente %}
Cadastrar discente
{% elif disciplina %}
Cadastrar Disciplina
{% elif discente %}
Cadastrar Aluno
{% elif turmas %}
Cadastrar Turma
{% endif %}
{% endblock %}

{% block content %}
{% bootstrap_messages %}
<form method="post" class="form" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}

    {% if docente %}
    {% bootstrap_form docente %}
    {% elif discente %}
    {% bootstrap_form discente %}
    {% elif disciplina %}
    {% bootstrap_form disciplina %}
    {% elif turmas %}
    {% bootstrap_form turmas %}
    {% endif %}

    <div style="padding: 10px;">
        <input type="submit" class="btn btn-success" value="Salvar" />
        <input type="button" class="btn btn-secondary" value="Voltar">
    </div>
</form>
</div>
{% endblock %}