{% extends 'base.html' %}

{% block titleh %}Cadastro{% endblock titleh %}

{% block titulo %}Cadastrar Usuário{% endblock titulo %}

{% block conteudo %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="usuario">Usuário: </label>
        <input type="text" name="usuario" value="{{request.POST.usuario}}" class="form-control" id="usuario" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" value="{{request.POST.nome}}" class="form-control" id="nome" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="sobrenome">Sobrenome: </label>
        <input type="text" name="sobrenome" value="{{request.POST.sobrenome}}" class="form-control" id="sobrenome" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="email">E-mail: </label>
        <input type="email" name="email" value="{{request.POST.email}}" class="form-control" id="email" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="senha1">Senha: </label>
        <input type="password" name="senha1" class="form-control" id="senha1">
      </div>
    <div class="form-group">
      <label for="senha2">Repita Senha:</label>
      <input type="password" name="senha2" class="form-control" id="senha2">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button> 
</form>
{% endblock conteudo %}