{% extends 'index.html' %}
{% load bootstrap4 %}

{% block titleh %}Login{% endblock titleh %}

{% block titulo %}

{% if request.user.is_authenticated %}
<p>Bem-vindo, {{request.user}}!</p><br>
{% else %}
Login
{% endif %}
{% endblock titulo %}

{% block content %}
{% bootstrap_messages %}
<!-- Section: Design Block -->
<!-- Section: Design Block -->
<section>
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 100%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            SAGA<br />
            <span class="text-primary">Sistema Administrativo de Gestão Acadêmica.</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Nosso objetivo é auxiliar na administração dos diferentes setores fundamentais em qualquer 
            instituição de ensino. 
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
          <form method='POST'>
            {% csrf_token %}
            <div class="form-group">
            <label for="usuario">Matricula</label>
            <input type="text" name='matricula' class="form-control" id="usuario" autocomplete="off">
            </div>
            <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name='senha' class="form-control" id="senha">
            <p></p>
            <a href="{% url 'cadastro' %}"><small>Cadastrar-me.</small></a><br>
            <label> Matricula = 1</label><br>
            <label> Senha = 123 </label>
            <p></p>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

{% endblock content %}z